.Attachment {
    /*display: grid;*/
    /*!*grid-gap: 2px;*!*/
    width: 200px;
    margin: 20px
    /*background-color: white;*/
    /*!*padding: 10px;*!*/
    /*grid-template-areas: 'icon filename' 'icon filesize';*/
    /*grid-template-columns: 30% 70%;*/
    /*grid-template-rows: 55% 45%;*/
}

.Attachment .EdiFileIcon {
    /*height: 40px;*/
    width: 50px;
    grid-area: icon;
}

.fileDataContainer{
    width: 100%;
}

.Attachment .fileName,
.Attachment .fileType,
.Attachment .fileSize {
    white-space: normal;
    text-overflow: ellipsis;
    height: 40px;
    width: 100%;
    display: block;
    overflow: hidden;
}
