.EdiAttachments {
    margin: 20px;
    /*grid-area: attachments;*/
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 100%;
}


.AttachmentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.AttachmentDropZone {
    min-height: 120px;
    background-color: lightgrey;
    margin: 20px;
}