.EdiAttachments {
    margin: 20px;
    /*grid-area: attachments;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}


.AttachmentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.AttachmentDropZone {
}