.Navigationbar {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 1 auto;
}

.Navigationbar .Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Toolbar .app-title {
    margin: auto;
    width: 20%;

}

.app-title img {
    width: 100%;
}

.Navigationbar .UserButtons {
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Navigationbar .Navigation {
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.NavigationItems {
    width: 50%;
}

.LanguageChange {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.NavigationButton {
    margin: auto 5px;
}