/*@media (max-width: 768px) {*/
/*    .poll-question {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

.ediContent {
    margin-top: 20px;
}


.ediContentGrid {
    /*display: grid;*/
    /*grid-gap: 15px;*/
    /*background-color: white;*/
    /*padding: 10px;*/
    /*grid-template-areas: !*'description description detailedInformation detailedInformation'*! !*'messages messages messages attachments';    *! 'description messages' 'detailedInformation messages' 'attachments messages';*/
    /*height: 900px;*/
    /*grid-template-rows: 30% 30% 30%;*/
    /*grid-template-columns: 50% 50%;*/
}

.EdiInformations {
    height: 100%;
}

.ediDescription {
    /*grid-area: description;*/
    /*background-color: grey;*/
    margin-bottom: 20px;
}

.ediQuestions {
    margin-top: 20px;
    margin-bottom: 20px;
    /*grid-area: detailedInformation;*/
}

.EdiAttachments {
    margin-top: 20px;
    /*grid-area: attachments;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex: 1
}

.EdiMessageList {
    /*grid-area: messages;*/
    height: 100%;
}

.AttachmentList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 50%;
    height: 50%;
    overflow-y: scroll;
}