/*@media (max-width: 768px) {*/
/*    .poll-question {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/


.ediContentGrid {
    display: grid;
    grid-gap: 15px;
    background-color: white;
    padding: 10px;
    grid-template-areas:
    /*'description description detailedInformation detailedInformation'*/
    /*'messages messages messages attachments';    */
    'description messages'
    'detailedInformation messages'
    'attachments messages';
    height: 900px;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 50% 50%;
}

.ediDescription {
    grid-area: description;
    /*background-color: grey;*/
}

.ediDetailedInformation {
    grid-area: detailedInformation;
    background-color: yellow;
}

.EdiMessageList {
    grid-area: messages;
    height: 100%;
}

.EdiAttachments {
    grid-area: attachments;
    background-color: white;
}