.TabBar {
    display: flex;
    flex-direction: row;
}

.CsvPdfDownloadContainer,
.TabsContainer {
    flex-wrap: wrap;
    margin-top: auto;
}

.excelDownloadIcon{
    height: 30px;
    margin: auto;
}

.invisible {
    display: none;
    visibility: hidden;
}