.app-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: flex-end;*/
    /*align-items: center;*/
    /*min-height: 100%;*/
}

.ant-notification {
    z-index: 1500; /* to be on top of material ui components */
}

.container {
    height: 100%;
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9dbde;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    flex: 1 1;
}

.app-scrollbar {
    width: 90%;
    max-height: 300px;
}

.app {
    /*background-image: url("../resources/login/Login_Background_fullhd.png");*/
    min-width: 100vw;
    min-height: 100vh;
    background-color: #dcdde1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-paper {
    flex: 1 1 available;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}


.app-content {
    padding: 2%;
    height: 100%;
}

