.app-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: flex-end;*/
    /*align-items: center;*/
    /*min-height: 100%;*/
}

.ant-notification{
    z-index: 1500;  /* to be on top of material ui components */
}

.container {
    height: 100%;
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9dbde;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    flex: 1 1;
}

#loginBackgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    width: 100%;
    height: 100%;
}

.app-scrollbar {
    width: 90%;
    max-height: 300px;
}

.app {
    width: 100%;
    height: 100%;
    background-color: #dcdde1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-paper {
    flex: 1 1 available;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}

.TabBar{
}

.app-content{
    padding: 2%;
    height: 100%;
}