.GeneralInfos {
}

.SupportedProtocols {
}

.Transfer {
}

.Additional {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
}

.Additional_Heading{
}

.Q1{
}

.Q2{
}

.SaveBtn {
}

.ant-form-item-label {
    white-space: normal;
}