.GeneralInfos {
}

.SupportedProtocols {
}

.Transfer {
}

.Additional {
    grid-area: Additional;
    display: grid;
    grid-template-areas: 'heading .' 'q1 q2';
    /*margin: auto;*/
    grid-gap: 15px;
    background-color: white;
    padding: 10px;
}

.Additional_Heading{
    grid-area: heading;
}

.Q1{
    grid-area: q1;
}

.Q2{
    grid-area: q2;
}

.SaveBtn {
}

.ant-form-item-label {
    white-space: normal;
}