.loginBackground {
    /*text-align: center;*/
    /*display: grid;*/
    /*height: 100%;*/
    /*background-image: url("../../resources/login/CHANGE_ME_NOT_FREE.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

#loginBackgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282c34;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
/*.loginBackgroundImage {*/
/*    max-width: 100%;*/
/*    max-height: 100vh;*/
/*    margin: auto;*/
/*}*/

.login-container {
    position: absolute;
    right: 500px;
    top: 250px;
    width: 300px;
    margin: 40px auto 0;
    padding: 20px 20px 20px 20px;

    background-color: powderblue;
    opacity: 0.98;
    border-color: #61dafb;
    border-style: solid;
    border-width: 2px;
}

.login-form-button {
    background-color: dodgerblue;
    width: 100%;
}

.LoginFooter {
    position: absolute;
    bottom: 0;
}