.login-container {
    position: absolute;
    right: 500px;
    top: 250px;
    width: 300px;
    margin: 40px auto 0;
    padding: 20px 20px 20px 20px;

    background-color: powderblue;
    opacity: 0.98;
    border-color: #61dafb;
    border-style: solid;
    border-width: 2px;
}

.login-form-button {
    background-color: dodgerblue;
    width: 100%;
}

.LoginFooter {
    position: absolute;
    bottom: 0;
}