.Navigationbar {
    background: #0575E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #021B79, #0575E6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
}

.NavigationButton {
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    /*overflow: hidden;*/
    height: 50px;
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    background: green;
    cursor: pointer;
    /*padding: 25px 80px;*/
    display: inline-block;
    margin: 5px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.NavigationButton:active {
    border-color: #17954c;
    color: #17954c;
}

.NavigationButton:hover {
    background: #24b662;
}