.Navigationbar {
    background-color: lightblue;
    display: flex;
    width: 100%;
}

.NavigationButton {
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    /*overflow: hidden;*/
    height: 50px;
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    background: green;
    cursor: pointer;
    /*padding: 25px 80px;*/
    display: inline-block;
    margin: 5px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.NavigationButton:active {
    border-color: #17954c;
    color: #17954c;
}

.NavigationButton:hover {
    background: #24b662;
}