.signup-container {
    /*max-width: 420px;*/
    margin: 40px auto auto;
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.signup-form input {
    margin-bottom: 3px;
}

.signup-contentGrid {
    display: grid;
    width: 50%;
    margin: 40px auto auto;
    grid-gap: 15px;
    padding: 10px;
    grid-template-areas: 'Header Header' 'Username Email' 'Firstname Lastname' 'Organization Roles' 'Language Gender' 'Submit Submit';
    grid-template-columns: 50% 50%;
}


.signup-contentGrid .Header {
    grid-area: Header;
    margin-left: auto;
    margin-right: auto;
}

.signup-contentGrid .Username {
    grid-area: Username;
}

.signup-contentGrid .Email {
    grid-area: Email;
}

.signup-contentGrid .FirstName {
    grid-area: Firstname;
}

.signup-contentGrid .LastName {
    grid-area: Lastname;
}

.signup-contentGrid .Organization {
    grid-area: Organization;
}

.signup-contentGrid .Roles {
    grid-area: Roles;
}

.signup-contentGrid .Gender {
    grid-area: Gender;
}

.signup-contentGrid .Language {
    grid-area: Language;
}

.signup-contentGrid .Submit {
    grid-area: Submit;
    margin-right: 0;
    margin-left: auto;
    width: 160px;
}